---
import ChatPanel from './ChatPanel.astro';
import MemoriesPanel from './MemoriesPanel.astro';
import HistoryPanel from './HistoryPanel.astro';
import JournalPanel from './JournalPanel.astro';
import ExercisesPanel from './ExercisesPanel.astro';
import ProfilePanel from './ProfilePanel.astro';
import SettingsPanel from './SettingsPanel.astro';
---

<!-- Main panel -->
<main class="flex-1 flex flex-col min-h-screen">
  <ChatPanel />
  <MemoriesPanel />
  <HistoryPanel />
  <JournalPanel />
  <ExercisesPanel />
  <ProfilePanel />
  <SettingsPanel />
</main>
